body {
  margin-top: 50px;
  padding: 0;
  font-family: sans-serif;
}
@import '~@syncfusion/ej2-base/styles/material3.css';
@import '~@syncfusion/ej2-calendars/styles/material3.css';
@import '~@syncfusion/ej2-inputs/styles/material3.css';
@import '~@syncfusion/ej2-popups/styles/material3.css';
@import '~@syncfusion/ej2-navigations/styles/material3.css';
@import '~@syncfusion/ej2-grids/styles/material3.css';